<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>LOGIN</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template"/>
    <meta name="author" content="CodedThemes"/>

    <!-- Favicon icon -->
    <link rel="icon" href="#{request.contextPath}/assets/images/favicon.ico" type="image/x-icon"/>
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/fonts/fontawesome/css/fontawesome-all.min.css"/>
    <!-- animation css -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/plugins/animation/css/animate.min.css"/>
    <!-- vendor css -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/css/style.css"/>

</h:head>

<h:body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h:form id="form">
                    <h3 class="mb-4">Login</h3>
                    <div class="input-group mb-3">
                        <h:inputText value="#{userBean.username}" styleClass="form-control" pt:placeholder="Email"/>
			
			
                    </div>
                    <div class="input-group mb-4">
                        <h:inputText value="#{userBean.password}" styleClass="form-control" pt:placeholder="password"/>
                    </div>
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked=""/>
                            <label for="checkbox-fill-a1" class="cr"> Save Details</label>
                        </div>
                    </div>
                    <h:commandButton id ="btn" action="#{userBean.doLogin()}" value="login" styleClass="btn btn-primary shadow-2 mb-4"/>
                    <br/>
                    <h:message for="btn"/>
                    <br/>
                    <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.jsf">Reset</a></p>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.jsf">Signup</a></p>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
<script src="{request.contextPath}/assets/js/vendor-all.min.js"></script>
	<script src="{request.contextPath}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

</h:body>
</html>
