<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Reset password</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template"/>
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="#{request.contextPath}/assets/images/favicon.ico" type="image/x-icon"/>
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/fonts/fontawesome/css/fontawesome-all.min.css"/>
    <!-- animation css -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/plugins/animation/css/animate.min.css"/>
    <!-- vendor css -->
    <link rel="stylesheet" href="#{request.contextPath}/assets/css/style.css"/>

</h:head>

<h:body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-mail auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Reset Password</h3>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email"/>
                    </div>
                    <button class="btn btn-primary mb-4 shadow-2">Reset Password</button>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.jsf">Signup</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
<script src="{request.contextPath}/assets/js/vendor-all.min.js"></script>
	<script src="{request.contextPath}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{request.contextPath}/assets/js/pcoded.min.js"></script>

</h:body>
</html>
