<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   xmlns:b="http://bootsfaces.net/ui"
	   template="/template/EnseignantTemplate.xhtml"
	   xmlns:c="http://java.sun.com/jstl/core">
	   
<ui:define name="title">Student</ui:define>	   
<ui:define name="Broad">   <a class="navbar-brand" href="#pablo">Student</a> </ui:define>	
<ui:define name="Topnavs">
<div class="logo">
        <a href="" class="simple-text logo-normal">
          ESI Manager
        </a>
    </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        <ui:insert name="title"></ui:insert>
          <li class="nav-item ">
            <a class="nav-link" href="./Enseignant.jsf" >
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="./Student.jsf">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">library_books</i>
              <p>Convention Form</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">bubble_chart</i>
              <p>ESP Plug</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Rate.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Rate</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Entreprise.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Company</p>
            </a>
          </li>
        </ul>
      </div>

</ui:define>	 




<ui:define name="content">

<script >
function myFunction(x,y) {
  alert("Etudiant : "+x+"\n Titre  :"+y);
}
</script>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">All Plugs List</h4>
                  <p class="card-category"> List of all plugs</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Name
                        </th>
                        <th>
                          adresse
                        </th>
                        <th>
                          Name responsable
                        </th>
                        
                      </thead>
                     
                      <ui:repeat var="entreprise" value="#{userBean.allentreprises}" >

              
                      <tbody style="color: #{entreprise.note == 10 ?'none':'red'}">

                        <tr >
       
                          <td >
                            <h:outputText value="#{entreprise.nom}" />

                          </td>
                          <td	>
                           <h:outputText value="#{entreprise.adresse}" />
                          </td>
                          
                           
                          <td >
                            <h:outputText value="#{entreprise.emailResponsable}" />
                          </td>         
                                  <td class="text-primary">
                         
                             <h:commandButton value="Show details" onclick="myFunction('#{entreprise.nom}','#{entreprise.adresse}')" styleClass="btn card text-primary" />
                                                           
            </td>                           
                        </tr > 
                      </tbody>
                      </ui:repeat>

                    </table>   
                  </div>
                  
                </div>
                
              </div>
            </div>	
          </div>
        </div>
        
            </div>
          
</ui:define>
</ui:composition>