<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/template/EnseignantTemplate.xhtml"
	   xmlns:c="http://java.sun.com/jstl/core">
	   
<ui:define name="title">Student</ui:define>	   
<ui:define name="Broad">   <a class="navbar-brand" href="#pablo">Student</a> </ui:define>	
<ui:define name="Topnavs">
<div class="logo">
        <a href="" class="simple-text logo-normal">
          ESI Manager
        </a>
    </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        <ui:insert name="title"></ui:insert>
          <li class="nav-item ">
            <a class="nav-link" href="./Enseignant.jsf" >
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="./Student.jsf">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">library_books</i>
              <p>Convention Form</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">bubble_chart</i>
              <p>ESP Plug</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Rate.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Rate</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Entreprise.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Company</p>
            </a>
          </li>
        </ul>
      </div>

</ui:define>	 




<ui:define name="content">
<div class="content">
        <p:spinner />
        <center><h1 style="color: red">Rate your entreprise </h1></center>
        <p:spinner />
       <center> <h:messages  layout="table" /></center>
        <div style="display:#{userBean.ableToRate == false?'none':'block'}">
    	<h:form >
    	
	        <h2>1. Hard-coded with "f:selectItem" : </h2>
	     
   		<h:selectOneRadio required="true" requiredMessage="you have to check an answer for the first question !" layout="pageDirection" value="#{userBean.rating1}">
   			<f:selectItem itemValue="1" itemLabel="very bad" />
   			<f:selectItem itemValue="2" itemLabel="bad" />
   			<f:selectItem itemValue="3" itemLabel="medium" />
   			<f:selectItem itemValue="4" itemLabel="moy" />
   			<f:selectItem itemValue="5" itemLabel="good" />
   		</h:selectOneRadio>
   		
   		<h2>2. Hard-coded with "f:selectItem" : </h2>
   		<h:selectOneRadio required="true" requiredMessage="you have to check an answer for the second question !" layout="pageDirection" value="#{userBean.rating2}">
   			<f:selectItem itemValue="1" itemLabel="very bad" />
   			<f:selectItem itemValue="2" itemLabel="bad" />
   			<f:selectItem itemValue="3" itemLabel="good" />
   			<f:selectItem itemValue="4" itemLabel="moy" />
   			<f:selectItem itemValue="5" itemLabel="good" />
   		</h:selectOneRadio>
   		
   		<h2>3. Hard-coded with "f:selectItem" : </h2>
   		<h:selectOneRadio required="true" requiredMessage="you have to check an answer for the third question !" layout="pageDirection" value="#{userBean.rating3}">
   			<f:selectItem itemValue="1" itemLabel="very bad" />
   			<f:selectItem itemValue="2" itemLabel="bad" />
   			<f:selectItem itemValue="3" itemLabel="good" />
   			<f:selectItem itemValue="4" itemLabel="moy" />
   			<f:selectItem itemValue="5" itemLabel="good" />
   		</h:selectOneRadio>
   		
   		<h2>4. Hard-coded with "f:selectItem" : </h2>
   		<h:selectOneRadio required="true" requiredMessage="you have to check an answer for the fourth question !" layout="pageDirection" value="#{userBean.rating4}">
   			<f:selectItem itemValue="1" itemLabel="very bad"  />
   			<f:selectItem itemValue="2" itemLabel="bad" />
   			<f:selectItem itemValue="3" itemLabel="good" />
   			<f:selectItem itemValue="4" itemLabel="moy" />
   			<f:selectItem itemValue="5" itemLabel="good" />
   		</h:selectOneRadio>
		
   		
	    
    	        <h:commandButton value="Submit" action="#{userBean.Rate()}" styleClass="btn btn-primary btn-block"/>
		<h:commandButton styleClass="btn btn-block" value="Reset" type="reset" />

    	</h:form>
    	
</div>
<div class="alert alert-warning" style="display:#{userBean.ableToRate == true?'none':'block'}">
  You are not allowed to vote, you have probably already voted or the voting session is not open yet ... for more information please contact the director of internships
    	</div>  
</div>
     
</ui:define>
</ui:composition>