<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   template="/template/EnseignantTemplate.xhtml">
	   
<ui:define name="title">Student</ui:define>	   
<ui:define name="Broad">   <a class="navbar-brand" href="#pablo">Student</a> </ui:define>	
<ui:define name="Topnavs">
<div class="logo">
        <a href="" class="simple-text logo-normal">
          ESI Manager
        </a>
    </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        <ui:insert name="title"></ui:insert>
          <li class="nav-item ">
            <a class="nav-link" href="./Enseignant.jsf" >
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="./Student.jsf">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">library_books</i>
              <p>Convention Form</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="">
              <i class="material-icons">bubble_chart</i>
              <p>ESP Plug</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="./Rate.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Rate</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./Entreprise.jsf">
              <i class="material-icons">bubble_chart</i>
              <p>Company</p>
            </a>
          </li>
        </ul>
      </div>

</ui:define>	 




<ui:define name="content">
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Offers</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  
                  
   
               
                <h:form>
                
                 </h:form>
               
           
        
        
        
   
    
    
   
    
                
                  </div>
                </div>
              </div>
            </div>
            
            
            </div>
          </div>
        </div>
     
</ui:define>
</ui:composition>